body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f4f6f9;
}

.navbar {
    background: #1b61b1;
    padding: 15px;
    color: white;
    display: flex;
    align-items: center;
    position: fixed;
    font-weight: 100;
    top: 0;
    width: 100%;
    z-index: 2000;
}

.toggle-btn {
    cursor: pointer;
    font-size: 20px;
    margin-right: 15px;
    background: #1b61b1;
    color: white;
    padding: 8px 15px;
    border-radius: 6px;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background: #1b61b1;
    position: fixed;
    top: 0;
    left: -220px;
    transition: 0.4s;
    padding-top: 60px;
    z-index: 1000;
}

.sidebar.active {
    left: 0;
}

.sidebar a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.sidebar a:hover {
    background: rgba(255, 255, 255, 0.1);
    padding-left: 25px;
}

.content {
    margin-left: 0;
    margin-top: 70px;
    padding: 20px;
    transition: 0.4s;
}

.content.shift {
    margin-left: 220px;
}